.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .element {
    position: absolute;
  }
  
  .element1 {
    width: 655px;
    height: 655px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 10s linear infinite;
  }
  
  .element2 {
    width: 111px;
    height: 117px;
    top: 10%;
    left: 10%;
  }
  
  .element3 {
    width: 674px;
    height: 1067px;
    top: 20%;
    right: 10%;
  }
  
  .element4 {
    width: 118px;
    height: 123px;
    bottom: 20%;
    left: 15%;
  }
  
  .element5 {
    width: 169px;
    height: 206px;
    bottom: 30%;
    right: 20%;
  }
  
  .element6 {
    width: 93px;
    height: 95px;
    top: 40%;
    right: 30%;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.1s;
  }
  
  @keyframes rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  